<article class="event">
  <header class="speaker">
		{{#if speaker}}
			<div class="speaker-portrait" style="background-image: url({{speaker.portrait}});"></div>
			<span class="speaker-name">{{speaker.name}}</span>
		{{else }}
			<span class="fa-stack fa-5x">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-question fa-stack-1x"></i>
			</span>
		{{/if}}
	</header>
	{{#if title}}
		<div class="meta">
			{{language}} {{level}}
		</div>
		<h3>{{title}}</h3>
		<p>{{description}}</p>
	{{else}}
	<p><strong>This slot could be yours! Submit your talk now.</strong>  You did some crazy stuff with JavaScript? You want to show it to the community? Drop us a line on your topic on <a href="https://twitter.com/bcnjs">Twitter</a> or to <a href="https://plus.google.com/u/0/communities/115705669406517039298">Google+</a>.</p>
	{{/if}}
</article>